@media screen and (min-width: 768px) {
  header img {
    height: 50px;
    width: auto;
  }

    #navMenu {
    display: block !important;
  }

  #menuButton {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    width: auto;
    padding: 0;
  }

    .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding:2rem;
    max-width: 1000px;
    margin: auto;
    gap:12rem;
 }
}